/* fonts */
/* Roboto from Google Fonts */
/* .roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
 @font-face {
    font-family: "Roboto";
    src: url(Assets/Fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf) format("truetype-variations");
 }

/* Website Styling */
body{
    margin: 50px;
    font-family: "Roboto", sans-serif;
}
.icon {
    width: 50px;
    height: auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 30px 0;
}
td {
    border: 1px solid black;
    padding: 10px;
    width: auto;
}
th {
    border: 1px solid black;
    font-size: 16px;
    font-weight: bold;
    width:auto;
}

.pagefooter{
    margin: 30px 0;
    text-align: center;
    font-style: italic;
}

.pageheader{
    margin: 30px 0;
    text-align: center;
}